data/3.json filter=lfs diff=lfs merge=lfs -text
data/4.daily.json filter=lfs diff=lfs merge=lfs -text
data/1.json filter=lfs diff=lfs merge=lfs -text
data/2.csv filter=lfs diff=lfs merge=lfs -text
data/2.daily.json filter=lfs diff=lfs merge=lfs -text
data/2.json filter=lfs diff=lfs merge=lfs -text
data/2.monthly.json filter=lfs diff=lfs merge=lfs -text
data/5.csv filter=lfs diff=lfs merge=lfs -text
data/5.daily.json filter=lfs diff=lfs merge=lfs -text
data/1.csv filter=lfs diff=lfs merge=lfs -text
data/1.daily.json filter=lfs diff=lfs merge=lfs -text
data/3.daily.json filter=lfs diff=lfs merge=lfs -text
data/4.csv filter=lfs diff=lfs merge=lfs -text
data/5.json filter=lfs diff=lfs merge=lfs -text
data/original.csv filter=lfs diff=lfs merge=lfs -text
data/1.monthly.json filter=lfs diff=lfs merge=lfs -text
data/3.csv filter=lfs diff=lfs merge=lfs -text
data/3.monthly.json filter=lfs diff=lfs merge=lfs -text
data/4.json filter=lfs diff=lfs merge=lfs -text
data/4.monthly.json filter=lfs diff=lfs merge=lfs -text
data/5.monthly.json filter=lfs diff=lfs merge=lfs -text
